{{> nav/nav-block}}

  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <style>
      body { background-color: #F2F6D0 }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
  </head>
    <br>  
    <br>  
    <br>
  <br>
<div class="container">
    {{#each dbArticle}}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">
                        <a target="_blank" href={{append 'http://www.reddit.com' this.link}}>{{this.title}}</a>
                    </h5>
                    {{#unless saved}}
                      <button type="button" class="btn btn-secondary savebtn" data-id={{this._id}}>Save</button>
                    {{/unless}}
                    {{#if saved}}
                      <button type="button" class="btn btn-secondary saved">Saved</button>
                    {{/if}}
                    {{#unless note}}
                      <button type="button" class="btn btn-secondary" id="addNote" data-id={{this._id}}>Add Note</button>
                    {{/unless}}
                    {{#if note}}
                      <button type="button" class="btn btn-secondary" id="addNote" data-id={{this._id}}>View and Add Notes</button>
                    {{/if}}
                </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
    {{/each}}
</div>
<br>
{{> modal/note-block}}
